div(id="resultsWindow" class="modal bd-example-modal-lg")
  div(class="modal-dialog modal-lg")
    div(id="calcResults" class="modal-content")
      div(class="modal-header")
        div(class="loader")
        h5(class="modal-title" id="exampleModalLabel") Calculation Results
