div(class="calwrapper")
  div(class="tab-content")
    div(class="tab-pane active" id="stocks")
      div(class="caloutput") Loading Data...
    div(class="tab-pane" id="bonds")
      div(class="caloutputBonds")
    div(class="tab-pane" id="treas")
      div(class="caloutputTreas")
    div(class="tab-pane" id="blackbox")
      div(class="caloutputBlackBox")
